@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

$primary-font: 'Dosis', sans-serif;
$title: 'Montserrat', sans-serif;
$heading: 'Marck Script', cursive;
